@font-face {
  font-family: monsterRat;
  src: url('./assets/fonts/Montserrat/Montserrat-Thin.ttf');
}

.heading {
  text-align: center;
  font-family: monsterRat;
}

.examples {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}