@font-face {
  font-family: monsterRat;
  src: url('https://res.cloudinary.com/dsvdhggfk/raw/upload/v1590003266/Montserrat-Thin_e0zazd.ttf');
}

.heading {
  text-align: center;
  font-family: monsterRat;
}

.examples {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}